<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.2.0" package="BumpSetSpike_Android.BumpSetSpike_Android" android:versionCode="120">
	<uses-sdk />
	<application android:label="Swipe Tap Smash"></application>
</manifest>